<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="MonoAndroid60" />
  <package id="Acr.UserDialogs" version="6.0.1" targetFramework="MonoAndroid60" />
  <package id="AndHUD" version="1.2.0" targetFramework="MonoAndroid60" />
  <package id="Fody" version="1.29.4" targetFramework="MonoAndroid60" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid60" />
  <package id="NUnit" version="2.6.3" targetFramework="MonoAndroid60" />
  <package id="PropertyChanged.Fody" version="1.51.3" targetFramework="MonoAndroid60" developmentDependency="true" />
  <package id="Realm" version="0.75.0" targetFramework="MonoAndroid60" developmentDependency="true" />
  <package id="Splat" version="1.6.2" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugins.VideoPlayer" version="1.0.0-pre07" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="MonoAndroid60" />
</packages>